<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <contextName>product-service</contextName>
    <!-- 定义log日志文件位置，INFO_FILE ERROR_FILE会引用 -->
    <property name="LOG_HOME"  value="logs"></property>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】 -->
    <!-- 定义控制台输出数据格式 -->
    <!-- 定义日志输出格式变量：%d表示时间 花括号内为时间格式 %level表示日志级别 %thread表示线程名 %logger{0}表示输出日志的类名 [%line]表示行号用方括号包裹 %msg表示日志消息 %n换行 -->
    <property name="log.pattern" value="[%d{'yyyy-MM-dd HH:mm:ss,SSS'}] [%logId] [%level] [%thread] %logger{0}[%line] - %msg%n"/>
    <!-- 定义日志字符集 -->
    <property name="log.charset" value="UTF-8"/>
    <!-- 定义日志级别 -->
    <property name="log.level" value="INFO"/>

    <!--控制台输出appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--设置输出格式-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sakura.common.log.PatternLogbackLayout">
                <pattern>${log.pattern}</pattern>
                <!--<charset>${log.charset}</charset>-->
            </layout>
        </encoder>
    </appender>

    <appender name="TO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/product-service.log</File>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sakura.common.log.PatternLogbackLayout">
                <pattern>${log.pattern}</pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/product-service-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--==================异常日志==================-->
    <appender name="error_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/product-service_error.log</file>
        <!-- 只打印错误日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_HOME}/product-service_error-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.sakura.common.log.PatternLogbackLayout">
                <pattern>${log.pattern}</pattern>
            </layout>
        </encoder>
    </appender>
    <!--==================异常日志==================-->

    <!-- 定义测试环境日志级别 -->
    <springProfile name="dev">
        <logger name="com.sakura.product" level="DEBUG"/>
        <root>
            <level value="INFO" />
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="TO_FILE" />
        </root>
    </springProfile>

    <!--  定义线上环境日志级别  -->
    <springProfile name="pro">
        <logger name="com.sakura.product" level="DEBUG"/>
        <root>
            <level value="INFO" />
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="TO_FILE" />
        </root>
    </springProfile>

</configuration>