<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.user.mapper.AdminUserMapper">

    <sql id="Base_Column_List">
        user_id
        , name, sex, age, birthday, mobile, address, head_img, create_dt, status
    </sql>

    <resultMap id="InfoDetailsMap" type="com.sakura.user.vo.AdminUserInfoVo">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="create_dt" property="createDt"/>
        <result column="status" property="status"/>
        <collection property="roles" ofType="com.sakura.user.vo.AdminUserRoleVo" javaType="java.util.List"
                    select="com.sakura.user.mapper.AdminUserMapper.findAdminUserRoles" column="{userId=user_id}"/>
    </resultMap>

    <select id="findAdminUserInfoVoById" resultMap="InfoDetailsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_admin_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        <if test="status != null">
            AND status = #{status,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findAdminUserRoles" resultType="com.sakura.user.vo.AdminUserRoleVo">
        SELECT tar.id, tar.name, tar.description, taur.create_dt
        FROM t_admin_user_role taur
                 LEFT JOIN t_admin_role tar ON taur.role_id = tar.id
        WHERE taur.user_id = #{userId,jdbcType=VARCHAR}
          AND taur.status = 1
          AND tar.status = 1
    </select>

    <resultMap id="ListDetailsMap" type="com.sakura.user.vo.AdminUserInfoVo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="user_create_dt" property="createDt"/>
        <result column="status" property="status"/>
        <collection property="roles" ofType="com.sakura.user.vo.AdminUserRoleVo" javaType="java.util.List">
            <id property="id" column="id"/>
            <result property="name" column="role_name"/>
            <result property="description" column="description"/>
            <result property="createDt" column="role_create_dt"/>
        </collection>
    </resultMap>

    <select id="getAdminUserList" resultMap="ListDetailsMap">
        SELECT
        tau.user_id, tau.name as user_name, tau.sex, tau.age, tau.birthday, tau.mobile, tau.address, tau.head_img,
        tau.create_dt as user_create_dt, tau.status,
        tar.id, tar.name as role_name, tar.description, taur.create_dt as role_create_dt
        FROM t_admin_user tau
        LEFT JOIN t_admin_user_role taur ON tau.user_id = taur.user_id AND taur.status = 1
        LEFT JOIN t_admin_role tar ON taur.role_id = tar.id AND tar.status = 1
        <where>
            <if test="param.name != null and param.name != ''">
                AND tau.name LIKE CONCAT('%',#{param.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="param.mobile != null and param.mobile != ''">
                AND tau.mobile LIKE CONCAT('%',#{param.mobile,jdbcType=VARCHAR},'%')
            </if>
            <if test="param.sex != null">
                AND tau.sex = #{param.sex,jdbcType=INTEGER}
            </if>
            <if test="param.roleId != null">
                AND tar.id = #{param.roleId,jdbcType=INTEGER}
            </if>
            <if test="param.status != null">
                AND tau.status = #{param.status,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <resultMap id="LoginInfoDetailsMap" type="com.sakura.common.vo.LoginUserInfoVo">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="create_dt" property="createDt"/>
        <result column="status" property="status"/>
        <!--<association property="roleVo" javaType="com.sakura.user.vo.RoleVo" select="com.sakura.user.mapper.UserMapper.findUserRole" column="{userId=user_id}"/>-->
        <collection property="roles" ofType="com.sakura.common.vo.RoleVo" javaType="java.util.List"
                    select="com.sakura.user.mapper.AdminUserMapper.findAdminUserRole" column="{userId=user_id}"/>
        <collection property="permissions" ofType="java.lang.String" javaType="java.util.Set"
                    select="com.sakura.user.mapper.AdminUserMapper.findAdminUserPermissionCodes" column="{userId=user_id}"/>
    </resultMap>

    <select id="findLoginAdminUserInfoVoById" resultMap="LoginInfoDetailsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_admin_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        AND status = 1
    </select>

    <select id="findAdminUserRole" resultType="com.sakura.common.vo.RoleVo">
        SELECT tar.id, tar.name, tar.description, taur.create_dt
        FROM t_admin_user_role taur
                 LEFT JOIN t_admin_role tar ON taur.role_id = tar.id
        WHERE taur.user_id = #{userId,jdbcType=VARCHAR}
          AND taur.status = 1 AND tar.status = 1
    </select>

    <select id="findAdminUserPermissionCodes" resultType="java.lang.String">
        SELECT DISTINCT tp.code
        FROM t_permission tp
                 LEFT JOIN t_admin_role_permission tarp ON tp.id = tarp.permission_id AND tarp.status = 1
                 LEFT JOIN t_admin_user_role taur ON tarp.role_id = taur.role_id AND taur.status = 1
            -- 为保存角色删除后不会查询到相关权限
                 LEFT JOIN t_admin_role tar ON taur.role_id = tar.id
        WHERE (tp.classify = 0 OR tp.classify = 3) AND tp.status = 1
           OR (taur.user_id = #{userId,jdbcType=VARCHAR} AND tar.status = 1)
    </select>

</mapper>
