<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.user.mapper.MerchantRoleMapper">

    <select id="findMerchantRoles" resultType="com.sakura.user.vo.MerchantRoleVo">
        SELECT id, name, description, create_dt
        FROM t_merchant_role
        <where>
            merchant_no = #{merchantNo,jdbcType=VARCHAR}
            <if test="param.name != null and param.name != ''">
                AND name LIKE CONCAT('%',#{param.name,jdbcType=VARCHAR},'%')
            </if>
            AND status = 1
        </where>
    </select>

</mapper>
