<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.user.mapper.UserMapper">

    <resultMap id="InfoDetailsMap" type="com.sakura.common.vo.UserInfoVo">
        <id column="user_id"  property="userId" />
        <result column="name"  property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="mobile" property="mobile" />
        <result column="address" property="address" />
        <result column="head_img" property="headImg" />
        <result column="create_dt"  property="createDt" />
        <!--<association property="roleVo" javaType="com.sakura.user.vo.RoleVo" select="com.sakura.user.mapper.UserMapper.findUserRole" column="{userId=user_id}"/>-->
        <collection property="roles" ofType="com.sakura.common.vo.RoleVo" javaType="java.util.List" select="com.sakura.user.mapper.UserMapper.findUserRoles" column="{userId=user_id}"/>
        <collection property="permissions" ofType="java.lang.String" javaType="java.util.Set" select="com.sakura.user.mapper.UserMapper.findUserPermissions" column="{userId=user_id}"/>
    </resultMap>

    <select id="findUserInfoVoById" resultMap="InfoDetailsMap">
        SELECT user_id, name, sex, age, birthday, mobile,
               address, head_img, create_dt
        FROM t_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        AND status = 1
    </select>

    <select id="findUserRoles" resultType="com.sakura.common.vo.RoleVo">
        SELECT tr.code, tr.name, tur.create_dt, tr.description
        FROM t_user_role tur
        LEFT JOIN t_role tr ON tur.role_id = tr.id
        WHERE tur.user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="findUserPermissions" resultType="java.lang.String">
        SELECT DISTINCT tp.code
        FROM t_permissions tp
        LEFT JOIN t_role_permissions trp ON tp.id = trp.permissions_id
        LEFT JOIN t_user_role tur ON trp.role_id = tur.role_id
        WHERE tp.is_public = 1 OR tur.user_id = #{userId,jdbcType=VARCHAR}
    </select>

</mapper>
