<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.user.mapper.UserMapper">

    <sql id="User_Column_List">
        user_id, name, sex, age, birthday, mobile, address, head_img, create_dt, status
    </sql>

    <resultMap id="LoginInfoDetailsMap" type="com.sakura.common.vo.LoginUserInfoVo">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="create_dt" property="createDt"/>
        <result column="status" property="status"/>
        <!--<association property="roleVo" javaType="com.sakura.user.vo.RoleVo" select="com.sakura.user.mapper.UserMapper.findUserRole" column="{userId=user_id}"/>-->
        <collection property="roles" ofType="java.lang.String" javaType="java.util.Set"
                    select="com.sakura.user.mapper.UserMapper.findUserRoleCodes" column="{userId=user_id}"/>
        <collection property="permissions" ofType="java.lang.String" javaType="java.util.Set"
                    select="com.sakura.user.mapper.UserMapper.findUserPermissionCodes" column="{userId=user_id}"/>
    </resultMap>

    <select id="findLoginUserInfoVoById" resultMap="LoginInfoDetailsMap">
        SELECT
        <include refid="User_Column_List"/>
        FROM t_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        AND status = 1
    </select>

    <select id="findUserRoleCodes" resultType="java.lang.String">
        SELECT DISTINCT tr.code
        FROM t_user_role tur
        LEFT JOIN t_role tr ON tur.role_id = tr.id
        WHERE tur.user_id = #{userId,jdbcType=VARCHAR}
        AND tur.status = 1 AND tr.status = 1
    </select>

    <select id="findUserPermissionCodes" resultType="java.lang.String">
        SELECT DISTINCT tp.code
        FROM t_permission tp
        LEFT JOIN t_role_permission trp ON tp.id = trp.permission_id AND trp.status = 1
        LEFT JOIN t_user_role tur ON trp.role_id = tur.role_id AND tur.status = 1
        -- 为保存角色删除后不会查询到相关权限
        LEFT JOIN t_role tr ON tur.role_id = tr.id
        WHERE tp.is_public = 1 AND tp.status = 1
        OR (tur.user_id = #{userId,jdbcType=VARCHAR} AND tr.status = 1)
    </select>

    <resultMap id="InfoDetailsMap" type="com.sakura.user.vo.UserInfoVo">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="create_dt" property="createDt"/>
        <result column="status" property="status"/>
        <collection property="roles" ofType="com.sakura.user.vo.RoleVo" javaType="java.util.List"
                    select="com.sakura.user.mapper.UserMapper.findUserRoles" column="{userId=user_id}"/>
    </resultMap>

    <select id="findUserInfoVoById" resultMap="InfoDetailsMap">
        SELECT
        <include refid="User_Column_List"/>
        FROM t_user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        <if test="status != null">
            AND status = #{status,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findUserRoles" resultType="com.sakura.user.vo.RoleVo">
        SELECT tr.code, tr.name, tr.description, tur.create_dt
        FROM t_user_role tur
        LEFT JOIN t_role tr ON tur.role_id = tr.id
        WHERE tur.user_id = #{userId,jdbcType=VARCHAR}
        AND tur.status = 1 AND tr.status = 1
    </select>

    <resultMap id="ListDetailsMap" type="com.sakura.user.vo.UserInfoVo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="head_img" property="headImg"/>
        <result column="user_create_dt" property="createDt"/>
        <result column="status" property="status"/>
        <collection property="roles" ofType="com.sakura.user.vo.RoleVo" javaType="java.util.List">
            <result property="code" column="code"/>
            <result property="name" column="role_name"/>
            <result property="description" column="description"/>
            <result property="createDt" column="role_create_dt"/>
        </collection>
    </resultMap>

    <select id="getUserList" resultMap="ListDetailsMap">
        SELECT
        tu.user_id, tu.name as user_name, tu.sex, tu.age, tu.birthday, tu.mobile, tu.address, tu.head_img,
        tu.create_dt as user_create_dt, tu.status,
        tr.code, tr.name as role_name, tr.description, tur.create_dt as role_create_dt
        FROM t_user tu
        LEFT JOIN t_user_role tur ON tu.user_id = tur.user_id AND tur.status = 1
        LEFT JOIN t_role tr ON tur.role_id = tr.id AND tr.status = 1
        <where>
            <if test="param.name != null and param.name != ''">
                AND tu.name LIKE CONCAT('%',#{param.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="param.mobile != null and param.mobile != ''">
                AND tu.mobile LIKE CONCAT('%',#{param.mobile,jdbcType=VARCHAR},'%')
            </if>
            <if test="param.sex != null">
                AND tu.sex = #{param.sex,jdbcType=INTEGER}
            </if>
            <if test="param.status != null">
                AND tu.status = #{param.status,jdbcType=INTEGER}
            </if>
        </where>
    </select>

</mapper>
